
/**
 * This file contains Calculator's general style
 */
 .mbp-calculator-wrapper .h2, .mbp-calculator-wrapper h2 {
  font-size: 1.7rem;
}

.mbp-calculator-wrapper .calculatorTooltip{
  width: 220px;
  opacity: 1 !important;
}

.mbp-calculator-wrapper .helpMiniDisk{
  height: 25px;
  width: 25px;
  text-align: center;
  padding: 0;
  border: 0;
  margin-right: 10px;
  color: white;
  background-color: #2a353d;
  box-shadow: none;
  text-shadow: none;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.mbp-calculator-wrapper .shadowBox{
  width: 100%;
  border: 1px solid #eef2f7;
  -webkit-box-shadow: 3px 2px 7px 0 rgba(0,0,0,.15);
  -moz-box-shadow: 3px 2px 7px 0 rgba(0,0,0,.15);
  box-shadow: 3px 2px 7px 0 rgba(0,0,0,.15);
}

.mbp-calculator-wrapper .inputError{
  border: 1px solid #dc3545;
}

.mbp-calculator-wrapper .inputErrorText{
  color: #dc3545;
}

.mbp-calculator-wrapper .inputIconError{
  color: #ffffff;
  background: #dc3545;
  border: 1px solid #dc3545;
}

.mbp-calculator-wrapper .show{
  display: block;
}
.mbp-calculator-wrapper .hide{
  display: none;
}

.mbp-calculator-wrapper button:disabled,
.mbp-calculator-wrapper button[disabled]{
border: 1px solid #999999 !important;
background-color: #cccccc !important;
color: #666666 !important;
}

.mbp-calculator-wrapper h4{
  font-size: 18px;
  font-weight: 400;
}

.mbp-calculator-wrapper .fieldset-minimum{
  border-radius: 4px;
  margin-bottom: 15px;
  padding: .35em .625em .75em;
  background-color: #ececec;
  border: 1px solid #e4e4e4;
}

.mbp-calculator-wrapper .number-populated{
  width: 100%;
  font-size: 1.8em;
  color: #000000;
  font-weight: 400;
  text-align: center;
  background: #ffffff;
  border-radius: 4px;
  padding: 15px 0;
  margin-bottom: 0.5rem;
}

.mbp-calculator-wrapper .paymentResults{
  padding: 20px 20px 30px;
}

.mbp-calculator-wrapper .tooltipContainer{
  display: inline-block;
  position:relative;
}
.mbp-calculator-wrapper .customTooltip{
  position: absolute;
  bottom: 135%;
  left: -18px;
  min-width: 220px;
  max-width: 300px;
  border-radius: 3px;
  font-size: 13px;
  padding: 10px 15px;
  z-index: 999;
  color: #ffffff;
  background-color: #222222;
}

.mbp-calculator-wrapper .customTooltip:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 22px;
  width: 0; height: 0;
  border-top: 8px solid #222222;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

.mbp-calculator-wrapper .graph-container{
  border: 1px solid #ededed;
  border-radius: 4px;
  padding: 25px 35px 15px;
}

.mbp-calculator-wrapper #paymentResults .table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.mbp-calculator-wrapper #paymentResults .table thead{
  background: #f7f7f7;
}
.mbp-calculator-wrapper #paymentResults .table thead tr th{
  font-weight: 500;
}

@media screen and (max-width: 991px){
  .mbp-calculator-wrapper #paymentResults .table thead tr th,
  .mbp-calculator-wrapper .table-responsive .table tbody tr td {
      min-width: 125px !important;
  }
}

.mbp-calculator-wrapper .table-responsive table {
/*   width: 100%;
  border-collapse: collapse; */
  margin-bottom: 0;
}

/* .mbp-calculator-wrapper .table-responsive table thead {
  overflow: visible;
}

.mbp-calculator-wrapper .table-responsive table thead tr {
  display: flex;
}
.mbp-calculator-wrapper .table-responsive table thead tr th,
.mbp-calculator-wrapper .table-responsive table tbody tr td {
  min-width: 16.666667%;
  display: inline-flex;
} */
.mbp-calculator-wrapper .table-responsive table tbody {
    position: relative;
    /* display: block; */
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.mbp-calculator-wrapper .table-responsive.underlined-tbody table tbody{
    border-bottom: 3px solid #267cac;
    max-height: 285px;
}
/* .mbp-calculator-wrapper .table-responsive table tbody tr {
  display: flex;
} */

.mbp-calculator-wrapper .debtFreeMY{
  border-top: 1px solid #ededed;
  width: 75%;
  margin: 10px auto;
  font-size: 45px;
  color: #b81411;
  border-bottom: 1px solid #ededed;
}

.mbp-calculator-wrapper .cardDidYouKnowContainer{
  background-color: #f3f3f3;
  border-radius: 3px;
  border: 1px solid #ededed;
  padding: 25px;
  margin-top: 40px;
}

.mbp-calculator-wrapper .totalToPay{
  font-size: 37px;
  font-weight: 300;
  margin-bottom: 10px;
}

.mbp-calculator-wrapper .result_p{
  margin-bottom: 5px;
  font-size: 17px;
}
.mbp-calculator-wrapper .graphResults{
  border: 1px solid #ededed;
  border-radius: 3px;
  margin: 25px 0 15px;
  padding: 25px 27px 15px;
}
.mbp-calculator-wrapper .distance15Pixels {
  height: 15px;
}

.mbp-calculator-wrapper .leftResultLable, .mbp-calculator-wrapper  .rightResultLable{
  display: inline-block;
  text-align: center;
  width: 49%;
}
.mbp-calculator-wrapper .leftResultLable span, .mbp-calculator-wrapper .rightResultLable span{
  font-weight: bold;
}
.mbp-calculator-wrapper .leftResultLable{
  border-right: 1px solid #ededed;
}
.mbp-calculator-wrapper .leftResultLable span{
  color: #267cac;
}
.mbp-calculator-wrapper .rightResultLable span{
  color: #af2835;
}

.mbp-calculator-wrapper .graphLeftResult, .graphRightResult{
  color: #ffffff;
  padding: 6px;
  display: inline-block;
  text-align: center;
  max-width: 90%;
  min-width: 10%;
}

.mbp-calculator-wrapper .graphLeftResult{
  background: #267cac;
}
.mbp-calculator-wrapper .graphRightResult{
  background: #af2835;
}

@media screen and (max-width: 450px){
  .mbp-calculator-wrapper .graphResults{
      padding: 25px 10px 15px;
  }
  .mbp-calculator-wrapper .graphLeftResult, .mbp-calculator-wrapper .graphRightResult{
      font-size: 12px;
      font-weight: bold;
  }
}

.mbp-calculator-wrapper .txt_disclaimer {
  margin: 15px 10px;
  font-size: 15px;
  color: #404040;
}

/* @media screen and (max-width: 992px){
  .mbp-calculator-wrapper .rightResults{
      margin-top: 50px;
  }
} */

/* Spinner */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #af2835;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #af2835 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.mbp-calculator-wrapper .loader-spiner{
  margin-top: 50px;
  color: #af2835;
}

.mbp-calculator-wrapper .result-anchor{
  color: #007bff !important;
  display: block;
  cursor: pointer;
  margin-top: 10px;
}

/* .mbp-calculator-wrapper .result-anchor:hover{
  color: #0056b3 !important;
  text-decoration: underline !important;
} */

.btn-vt-savings{
    width: 100%;
}

.savings-result-value{
    color: #000000;
    padding: 10px 10px 10px 43px;
}
@media screen and (max-width: 768px){
    .savings-result-value{
        padding: 10px 10px 10px 27px;
    }
}

.savingsR1{
    background: #bbf2c8;
}

.savingsR2{
    background: #a7f1f9;
}

.savingsR3{
    color: #ffffff;
    background: #1e6a9b;
    padding: 10px;
}

.savings-general-result{
    display: block;
    font-size: 45px;
    color: #035d03;
    font-weight: bold;
}

.savings-sepecial-title{
    border-top: 0;
}

.savings-sepecial-title h2{
    font-size: 25px;
}

.mbp-results .shadow {
    box-shadow: 0 5px 15px rgba(0,0,0,.15);
}
.mbp-results .card {
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: initial;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.mbp-results .bg-color-blue {
    background: #287dad;
}
.mbp-results .card-header h4 {
    margin: 0;
    color: #fff;
    font-size: 26px;
}
.mbp-results .bg-color-lightblue {
    background: #c4e8f5;
    color: #0d4e78;
}
.mbp-results .card-subheader {
    padding: .75rem 1.25rem;
}
.mbp-results .card-subheader h5{
    margin: 0;
}
.mbp-results .card-intro {
    padding: .75rem 1.25rem;
    border-bottom: 1px solid rgba(0,0,0,.125);
    background: #f4f4f4;
}
.mbp-results .card-body {
    border-top: 1px solid #fff;
    background: #f4f4f4;
}

.mbp-results .bg-color-gray {
    background: #6d6d6d;
}
.mbp-results .bg-color-lightgray {
    background: #b7b7b7;
    color: #fff;
}

.inWordsResults{
    padding: 20px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: inset 0 1px 5px rgba(0,0,0,.15);
}

.inWordsResults i,
.inWordsResults strong{
    color: #000000;
}

.inWordsResults strong{
    color: #248624;
}